*,
*::before,
*::after{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
html{
    font-size: 62.5%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container{
    background-color: rgb(8, 47, 62);
    display: flex;
    align-items: center;
    justify-content: center;
}
.main_div{
    width: 100vh;
    height: 100vh;
    background-color: #f6f6f6;
/*     
    display: flex;
    align-items: center;
    justify-content: center; */
    display: grid;
    place-items: center;
}
#header{
    font-size: 4rem;
}
.music_container{
    width: 35rem;
    height: 55rem;
    background-color: #ffffff;
    border-radius: 1.7rem;
    box-shadow: 0 1.2rem 3rem 0.5rem rgba(0,0,0,0.2);
    padding: 3rem;
    text-align: center;
}
.music_container #title{
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    color: #171717;
    margin: 2rem 0 0.5rem 0;
    font-size: 2.5rem;
    font-weight: 500;
}
.music_container #artist{
    color: #cccaca;
    text-transform: capitalize;
    font-size: 2rem;
    margin-bottom: 3.5rem;
    font-weight: 250;
}
.img_container{
    width: 25rem;
    height: 25rem;
    margin: auto;
}
img{
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
    border-radius: 50%;

}
/* controls */
.music_control{
    width: 20rem;
    display: flex;
    justify-content: space-between;
    margin: auto;
    
    margin-top: 3rem;
}
.music_control .btn{
    color: #111111;
    font-size: 3rem;
    cursor: pointer;
    filter: drop-shadow(0 1.2rem 3rem 0.5rem rgba(0,0,0,0.4));

}
.music_control .btn:hover{
    color: #f6f6f6;
    background-color: #111;
    border-radius: 50%;
    font-size: 2rem;
    width: 3.5rem;
    height: 3.5rem;
   

}
.anime{
   animation: rotateplayer 4s linear  infinite;

}
@keyframes rotateplayer{
    from{transform: rotate(0deg);}
    to{
        transform: rotate(360deg);
    }

}
/* .progress style */
.progressbar_container{
    width: 100%;
    height: auto;
    padding: 1rem 0;
    margin-top: 1rem;
}
.progress_div{
    width: 100%;
    height: 0.5rem;
    border-radius: 4rem;
    position: relative;
    background-color: #c2b1b1;
    transition: all 1s linear;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;

}
.progress{
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: blue;
    border-radius: 2rem;
    transition: all 1s linear;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;

}
.progress_duration_meter{
display: flex;
justify-content: space-between;
font-size: 1.2rem;
}

 /* .music_control .main-button{
width: 5rem;
height: 5rem;
 border-radius: 50%;
background-color: #111;
color: #f6f6f6;
font-size: 1.4rem;
display: flex;
justify-content: center;
align-items: center; 

}  */
