*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
/* setting variables */
body{

    --main-color: #283526;
    --primary-color:#888888;
    --button-background:#4b709e;
    --primary-button-background:#fe7649;
    --background-color:#e2efff;
}
h1, h2{
    font-family: Arial, Helvetica, sans-serif;
    color: var(--main-color);
}
h3,h4{
    color: var(--main-color);
}
h3{
  font-size: 2.2rem;
  line-height: 6rem;
  text-transform: capitalize;

}
p,a,li,button{
    /* set this later */
    font-family: sans-serif; 
     
    color: var(--primary-color);
}
p{
    font-size: 1.9rem;
    line-height: 150%;
    font-style: normal;
}
a{
    text-decoration: none;
    cursor: pointer;
}
li{
    list-style: none;
}
button{
    padding: 1rem 3rem;
    border-radius: 1.2rem;
    border: none;
    outline: none;
    line-height: 3.6rem;
    cursor: pointer;
    font-size: 2rem;
}
/* heading section */
header{
   padding: 0 20rem;
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 12rem;
}
header nav .left-side-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;

}
header nav .left-side-menu .sub-menu{
    height: inherit;
    display: flex;
    position: relative;
    margin-right: 4rem;
   
}
header nav .left-side-menu a img{
width: 6rem;
height: 4.5rem;
}
header nav .left-side-menu .sub-menu a li{
    font-size: 2rem;
}
header nav .left-side-menu .sub-menu a{
    margin-right: 4rem;
    line-height: 3.6rem;
    
    transition: all 0.2s;
}
header nav .left-side-menu a li:hover{
    color: var(--button-background);
}
header .right-side-menu{
 width: 50%;
 display: flex;

}
header .right-side-menu .sub-menu{
    width: 100%;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
header .right-side-menu .sub-menu a{
    margin-right: 4rem;
    padding: 0.7rem;
    border-radius: 12px;
    font-size: 1.6rem;
}
header .right-side-menu .sub-menu button{
    padding: 0.5rem 2.2rem;
    color: #fff;
    background-color: var(--button-background);
}
header .right-side-menu .sub-menu button:hover{
    background-color: var(--background-color);
    color: var(--primary-button-background);
}
 /* hero section  */
 .main-hero-section{
     padding: 0 20rem;
     width: 100%;
     height: 100%;
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin-bottom: 8rem;
 }
 .main-hero-section h1{
     width: 55rem;
     font-size: 7.5rem;
     line-height: 7rem;
     margin-bottom: 2rem;
     text-transform: capitalize;

 }
 .main-hero-section p{
     margin-bottom: 6rem;
     width: 40rem;
 }

 .main-hero-section a img{
     width: 12rem;
     height: 4rem;
 }
 /* right side  */
 .main-hero-section .hero-right-side{
     width: 50%;
     height: 60vh;
     background-color: var(--background-color);
     position: absolute;
     top: 0;
     right: 0;
     z-index: -1;
     display: flex;
     align-items: center;
     justify-content: center;
 }
 .main-hero-section .hero-left-side{
     width: 50%;
     height: 70vh;
     z-index: -1;
     display: flex;
     align-items: flex-start;
     justify-content: center;
     flex-direction: column;
 }
 .main-hero-section .hero-right-side img{
     width: 80rem;
     height: 70rem;
     margin-top: 20rem;
 }
 /* 2nd section left side  */
 .common-section{
     width: 100%;
     height: 70rem;
     display: grid;
     grid-template-columns: 2fr 2fr;
     margin-bottom: 9rem;
     padding: 0 20rem;
 }
 .common-section .left-side  figure{
     width: 20rem;
     height: 55rem;
     background: #e0e3e6;
     border-radius: 2rem;
 }
 .common-section .left-side img{
     width: 45rem;
     height: 50rem;
     border-radius: 2rem;
     margin-top: 1.5rem;
     margin-left: 4rem;

 }
 /* 2nd section right  */
 .common-section .right-side{
     width: inherit;
     height: inherit;
     display: flex;
     justify-content: center;
     align-items: flex-start;
     flex-direction: column;
 }
 .common-section .right-side h2{
     width: 45rem;
     font-style: normal;
     font-size: 5.5rem;
     font-weight: bold;
     margin-bottom: 2.5rem;
     text-transform: capitalize;

 }
 .common-section .right-side p{
     width: 43.3rem;
     height: 9rem;
     text-transform: lowercase;
     margin-bottom: 3rem;
 }
 .common-section .right-side .common-button{
     padding: 1rem 3rem;
     background-color: var(--primary-button-background);
     margin-right: 2rem;
     color: #fff;
 }
 .common-section .right-side .common-button-normal{
     color: var(--main-color);
     background-color: transparent;
 }
 .common-section .right-side .common-button:hover{
     background-color: #d53906;
 }
 
 .common-section .right-side .common-button-normal:hover{
     background-color:var(--primary-button-background)
 }
 .section-third{
     width: 100%;
     height: 65rem;
     background-color: var(--background-color);
     padding: 3rem 15rem;

 }
 .section-third h2{
     font-size: 5rem;
     margin-bottom: 1rem;
     margin-top: 3rem;
     text-align: center;
 }
 .section-third p{
     width: 40rem;
     height: 9rem;
     margin-bottom: 2rem;
     text-align: center;
     margin: auto;
 }
 .section-third .section-third-task{
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     margin-top: 3rem;
     grid-column-gap: 3rem;
 }
 .section-third .section-third-task .task1,
 .section-third .section-third-task .task2,
 .section-third .section-third-task .task3{
     padding-top: 2rem;
 
     text-align: center;
     transition: .3s linear;
     border: 2rem;
 }
 .section-third .section-third-task .task1 h3,
 .section-third .section-third-task .task2 h3,
 .section-third .section-third-task .task3 h3{
     font-size: 2.2rem;
     text-transform: capitalize;
     margin-top: 1.3rem;
 }
 .section-third .section-third-task .task1 img,
 .section-third .section-third-task .task2 img,
 .section-third .section-third-task .task3 img{
     width: 20rem;
     height: 15rem;
     transition: all 0.3s;


 }
 .section-third .section-third-task .task3{
     background-color: #fff;
     box-shadow: 0rem 0.4rem 2rem rgba(35, 52, 53, 0.40);
 }
 .section-third .section-third-task .task1:hover,
 .section-third .section-third-task .task2:hover{
    background-color: #fff;
    box-shadow: 0rem 0.4rem 2rem rgba(35, 52, 53, 0.40);

 }
 .section-third .section-third-task .task1:hover >img,
 .section-third .section-third-task .task2:hover > img,
 .section-third .section-third-task .task3:hover > img{
     transform: rotate(360deg);


 }