*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: black;
}
html{
    scroll-behavior:smooth;
}
.navbar ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
#navbar{
    background-color: rgb(4, 4, 22);
    padding: 1.3rem 2.2rem;
    position: sticky;
    top: 0;
    opacity: 0.6;
    width: 100%;
    max-height: 20vh;
}
ul li{

    list-style: none;
}
.navbar ul li a{
    text-decoration: none;
    padding: 1.2rem 1.6rem;
    color: white;
    font-size: 1.7rem;
}
.navbar ul li a:hover,:active{
    background-color: white;
    color: black;
    border-radius: 12px;
    text-decoration: underline;
}

.home{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
   min-height: 70vh;
    flex-direction: column;
 
}
.home .small{
    font-size: 0.7rem;
}
.home::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 75%;
    background:url('/movie/images/action.jpeg') no-repeat center center/cover;
    z-index: -2;
    opacity: 0.4;
}
.home .headerline{
    color: rgb(14, 1, 1);
    font-weight: bold;
    font-size: 2rem;
}
.movielist{
    margin-top: 2.2rem;
}


 .movie-head {
     
  
    font-size: 2.4rem;
  


}
.home .movielist ul{
    display: flex;
    flex-direction: column;
    
}
.home .movielist ul a{
    color: red;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    cursor: pointer;
    padding: 8px 1.3rem;
    font-size: 1.3rem;
}
.home .movielist ul a:hover{
    color: black;
    text-decoration: underline;
}
.about{
    width: 100%;
    height: 40vh;
    border: 3px solid yellow;
}

.about .info{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 19px 14px;
}
.about .info .req, .res{
    padding: 4px 3px;
}
.info p{
    font-size: 1.1rem;
}
.about::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 50%;
    background-color: rgb(196, 175, 175);
    z-index: -1;
}
.upcoming{
    background-color: skyblue;
    border: 3px solid green;
}
.upcoming .list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
    padding: 12px;
}
.upcoming .list  li a{
    
    text-decoration: none;
    list-style: none;
    color: black;
}
.upcoming .list  li a:hover{
    color: red;
}
.request-box{
    background-color: rgb(223, 168, 158);
    min-height: 40vh;
}
.request-box .movierequest{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:15px 20px;
}
.request-box .movierequest h3{
    font-size: 1.9rem;

}
.request-box .movierequest a{
    background-color: brown;
    color: white;
    padding: 15px;
    margin-top: 10px;
    border-radius: 12px;
    text-decoration: none;
}
.request-box .movierequest a:hover{
    color: red;
    background-color: white;
}


@media (max-width:936px){
    .navbar ul li a{
        font-size: 1.2rem;
        padding: 4px 10px;
    }
    .home::before{
        content: "";
        position: absolute;
        width: 100%;
        height: 85%;
        background:url('/images/action.jpeg') no-repeat center center/cover;
        z-index: -2;
        opacity: 0.4;
    }

}
@media (max-width:619px){
  .navbar ul li a{
      padding: 2px 5px;
      font-size: 1.1rem;
  }
}
@media (max-width:540px){
    .navbar ul li a{
        padding: 2px 5px;
        font-size: 1rem;
    }
}
@media (max-width:504px){
    .navbar ul li a{
        padding: 2px 5px;
        font-size: 15px;

    }
    .navbar ul{
        align-items: unset;
        justify-content: unset;
    }
}
@media (max-width:474px){
    .about .info  .res{
        font-size: 15px;
        
    }
    .about .info  .req{
        font-size: 13px;

    }

}
@media (max-width:418px){
    .home .movielist ul a{
        font-size: 1.2rem;

    }
    .home .headerline{
        
        font-size: 1.4rem;
    }

}
@media (max-width:418px){
    .about{
        width: 100%;
        height: 60vh;
        border: 3px solid yellow;
    }
    .about::before{
        content: "";
        position: absolute;
        width: 100%;
        height: 70%;
        background-color: rgb(228, 189, 189);
        z-index: -1;
    }
    .home::before{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background:url('/images/action.jpeg') no-repeat center center/cover;
        z-index: -2;
        opacity: 0.4;
    }


}
@media (max-width:338px){
    .home .movielist ul a{
        font-size: 1.2rem;

    }
    .home .headerline{
        font-size: 1.2rem;
       
    }
    .home::before{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background:url('/images/action.jpeg') no-repeat center center/cover;
        z-index: -2;
        opacity: 0.4;
    }
}

    @media (max-width:306px){
        .home::before{
            content: "";
            position: absolute;
            width: 100%;
            height: 110vh;
            background:url('/images/action.jpeg') no-repeat center center/cover;
            z-index: -2;
            opacity: 0.4;
        }


    }